<link rel="stylesheet" href="/static/css/navbar.css">
    
    <title>Doctor AI</title>


        <nav>
                <div class="nav-wrapper">
                  <a href="/" class="">Logo</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    
                    <li><a href="/user/login">login</a></li>
                    <li><a href="/user/signup">signup</a></li>
                    <li><a href="/services">services</a></li>
                    <li><a href="/dashbord">dashbord</a></li>
                  </ul>
                </div>
              </nav>

    

            
